@import "../../color-themes";

.user_wrapper {
    padding: 1pc;

    .user {
        position: relative;

        .user_head{
            display: grid;
            grid-template-columns: auto;
            @include all_transition_durations;

            .user_img {
                margin: 1pc auto;
                border-radius: 50%;
            }

            .user_name {
                font-weight: bold;
                margin: 1pc auto;
                padding: 0.5pc;
                @include themed('color', 'text');
            }

            .user_email {
                font-weight: light;
                margin: 1pc auto;
                padding: 0.5pc;
                @include themed('color', 'text');
            }
        }

        .user_logout_button {
            display: grid;
            margin: 1pc auto;
            border: 0pc;
            cursor: pointer;
            @include themed('color', 'text');
            @include themed('background-color', 'accent');
            @include all_transition_durations;
        }
    }
}

//Desktop
@media only screen and (min-width: 600px) {
    .user{
        padding-top: 5pc;
        .user_head{
            .user_img {
                width: 8pc;
            }
            .user_name {
                font-size: 1pc;
            }
            .user_email {
                font-size: 0.7pc;
            }
        }
        .user_logout_button {
            padding: 0.5pc;
            width: 7%;
            height: 2pc;
        }
    }
}

//Mobile
@media only screen and (max-width: 600px) {
    .user{
        padding-top: 5pc;
        .user_head{
            .user_img {
                width: 5pc;
            }
            .user_name {
                font-size: 1pc;
            }
            .user_email {
                font-size: 0.7pc;
            }
        }
        .user_logout_button {
            padding: 0.5pc;
            width: 35%;
            height: 2pc;
        }
    }
}