@import "../../../color-themes";

.card {
    display: inline-block;
    position: relative;
    text-align: center;
    border-radius: 0.7pc;
    @include themed('box-shadow', 'cardshadow');
    @include themed('background', 'card');
    @include all_transition_durations;

    .text_section {
        float: left;
        width: 82%;
        .time_text, .idea_text, .displayName_text, .votes_text {
            //font-weight: bold;
            text-align: left;
            margin: 0pc;
            padding-top: 0.5pc;
            padding-bottom: 0.5pc;
            @include themed('color', 'text');
            @include all_transition_durations;
        }
        .time_text, .displayName_text {
            //font-weight: bold;
            font-size: 0.5pc;
        }
        .votes_text {
            @include themed('color', 'accent');
        }
    }

    .button_section {
        display: grid;
        float: left;
        width: 13%;
        height: 100%;
        button {
            width: 100%;
            border: 0pc;
            border-radius: 0.5pc;
            cursor: pointer;
            @include themed('background-color', 'inputfield');
            @include all_transition_durations;
            &:active {
                @include themed('background-color', 'accent');
            }
            &:hover{
                @include themed('background-color', 'accentplus');
            }

            &.delete_button {
                @include themed('background-color', 'accent');
                &:hover{
                    @include themed('background-color', 'accentplus');
                }
            }
        }
    }
}

//Desktop
@media only screen and (min-width: 600px) {
    .card{
        margin: 1pc auto;
        padding: 1.5pc;
        width: 30pc;
        .text_section {
            padding-left: 0.5pc;
            padding-right: 1pc;
        }
        .button_section {
            grid-gap: 0.5pc;
        }
    }
}

//Mobile
@media only screen and (max-width: 600px) {
    .card{
        margin: 0.5pc 0pc;
        padding: 1pc;
        .text_section {
            padding-left: 0pc;
            padding-right: 0pc;
        }
        .button_section {
            grid-gap: 0.25pc;
        }
    }
}