@import "../../../color-themes";

.card {
    display: inline-block;
    position: relative;
    text-align: center;
    border-radius: 0.7pc;
    @include themed('box-shadow', 'cardshadow');
    @include themed('background', 'card');
    @include all_transition_durations;

    .text_section {
        width: 100%;
        .text_up_section {
            display: grid;
            grid-template-columns: auto auto;
            .time_text {
                text-align: left;
                font-size: 0.75pc;
                margin: 0pc;
                padding-top: 0.5pc;
                padding-bottom: 0.5pc;
                @include themed('color', 'text');
                @include all_transition_durations;
            }
            .delete_button {
                float: left;
                border: 0pc;
                border-radius: 0.2pc;
                width: 5pc;
                height: 2pc;
                cursor: pointer;
                @include themed('color', 'accent');
                @include themed('background-color', 'inputfield');
                @include all_transition_durations;
                &:hover{
                    @include themed('color', 'alttext');
                    @include themed('background-color', 'accentplus');
                }
            }
        }
        .idea_text, .displayName_text  {
            margin: 0pc;
            padding-top: 0.5pc;
            padding-bottom: 0.5pc;
            @include all_transition_durations;
        }
        .displayName_text {
            text-align: left;
            font-weight: bold;
            font-size: 0.75pc;
            @include themed('color', 'accent');
        }
        .idea_text {
            text-align: justify;
            font-weight: lighter;
            @include themed('color', 'text');
        }
    }

    .button_section {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        margin-top: 1pc;
        border-radius: 0.7pc;
        @include themed('background-color', 'inputfield');
        button {
            border: 0pc;
            border-radius: 0.5pc;
            cursor: pointer;
            filter: invert(0%);
            @include themed('background-color', 'inputfield');
            @include all_transition_durations;
            img {
                max-width: 15%;
            }
            &:active {
                @include themed('background-color', 'accent');
            }
            &:hover{
                @include themed('background-color', 'accentplus');
            }
        }
        .votes_text {
            text-align: center;
            font-weight: bold;
            font-size: 1pc;
            margin: auto;
            @include all_transition_durations;
            @include themed('color', 'accent');
        }
    }
}

//Desktop
@media only screen and (min-width: 600px) {
    .card{
        margin: 0pc auto;
        padding: 1.5pc;
        width: 30pc;
        .text_section {
            h2 {
                font-size: 1pc;
            }
            .text_up_section {
                grid-gap: 19pc;
            }
        }
        .button_section {
            grid-gap: 3pc;
            height: 5vh;
        }
    }
}

//Mobile
@media only screen and (max-width: 600px) {
    .card{
        padding: 1pc;
        .text_section {
            padding-left: 0pc;
            padding-right: 0pc;
            h2 {
                font-size: 0.85pc;
            }
            .text_up_section {
                grid-gap: 12pc;
            }
        }
        .button_section {
            grid-gap: 1.25pc;
            height: 5vh;
        }
    }
}