@import "../../color-themes";

.confirm {
    display: flex;
    position:fixed;
    text-align: center;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(30, 30, 30, 0.75);

    .confirm_section {
        position:fixed;
        border-radius: 0.5pc;
        @include themed('color', 'text');
        @include themed('background', 'inputfield');

        .button_section{
            display: flex;
            justify-content: space-between;
            button {
                cursor: pointer;
                border: 0pc;
                border-radius: 0.3pc;
                filter: invert(0%);
                @include themed('color', 'text');
                @include themed('background-color', 'card');
                @include all_transition_durations;
                &:active {
                    @include themed('background-color', 'accent');
                }
                &:hover{
                    @include themed('background-color', 'accentplus');
                }
            }

            .confirm_button {
                @include themed('background-color', 'accent');
            }
        }
    }

    :after {
        opacity: 0.7;
        filter: alpha(opacity=70);
        -moz-opacity: 0.7;
    }
}

//Desktop
@media only screen and (min-width: 600px) {
    .confirm_section {
        top: 50%;
        left: 49%;
        transform: translate(-50%,-50%);
        padding: 2pc;

        .confirm_text {
            margin-top: 0pc;
            font-size: 1.5pc;
        }

        .button_section{
            grid-gap: 1pc;
            button {
                padding: 0.75pc;
                width: 100%;
            }
        }
    }
}

//Mobile
@media only screen and (max-width: 600px) {
    .confirm_section {
        top: 50%;
        left: 49%;
        transform: translate(-50%,-50%);
        padding: 2pc;

        .confirm_text {
            margin-top: 0pc;
            font-size: 1.4pc;
        }

        .button_section{
            grid-gap: 1pc;
            button {
                padding: 0.75pc;
                width: 100%;
            }
        }
    }
}