@import "../../color-themes";

.filterdrop {
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 0.3pc;
    z-index: 15;
    @include themed('background-color', 'card');
}

.filt_menu_title{
    @include themed('color', 'alttext');
    @include themed('background-color', 'accent');
    @include all_transition_durations;
}

.filt_menu_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.3pc;
    text-decoration: none;
    @include themed('color', 'text');
    @include all_transition_durations;
}

p.filt_menu_item {
    margin: 0pc;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 0.3pc;
    text-decoration: none;
    font-weight: bold;
    @include themed('color', 'alttext');
    @include themed('background-color', 'accent');
    @include all_transition_durations;
    &:hover{
        @include themed('background-color', 'accentplus');
    }
}

//Desktop
@media only screen and (min-width: 600px) {
    .filterdrop {
        top: 4pc;
        transform: translateX(230%);
    }
    .filt_menu_title{
        grid-gap: 1pc;
        margin: 0pc;
        padding: 1pc;
        font-size: 1pc;
    }
    .filt_menu_item {
        grid-gap: 1pc;
        //padding-left: 1pc;
        font-size: 1pc;
    }
}

//Mobile
@media only screen and (max-width: 600px) {
    .filterdrop {
        top: 4pc;
        right: 0.9pc;
    }
    .filt_menu_title{
        margin: 0pc;
        padding: 1pc;
        font-size: 0.8pc;
    }
    .filt_menu_item {
        grid-gap: 1pc;
        //margin: 0pc;
        //padding: 1pc;
        //padding-left: 1pc;
        //padding-right: 1.5pc;
        font-size: 0.8pc;
    }
}