@import "../../color-themes";

.intro_wrapper {
    padding: 1pc;

    .intro {
        position: relative;

        .intro_head{
            display: flex;
            align-items: center;

            .title{
                margin: 0pc;
                @include themed('color', 'text');
                @include all_transition_durations;
            }
            .logo_img, .personal_img {
                margin: auto 0pc;
                vertical-align: middle;
                border-radius: 50%;
                @include all_transition_durations;
            }
            .personal_img {
                cursor: pointer;
                border: 0.25pc solid #fe2b5d;
            }
        }

        .under_text {
            padding: 0.5pc;
            @include themed('color', 'text');
            @include all_transition_durations;
        }
    }
}

//Desktop
@media only screen and (min-width: 600px) {
    .intro{
        padding-top: 1pc;
        text-align: center;
        .intro_head{
            justify-content: center;
            padding: 1pc;
            grid-gap: 6pc;
        }
        .title {
            padding: 0.5pc;
            margin: auto 1pc;
            font-size: 3pc;
        }
        .logo_img {
            float: left;
            display: block;
            width: 4.5pc;
        }
        .personal_img {
            float: left;
            width: 3pc;
            background-color: white;
        }
    }
    h2.under_text {
        margin: auto 1pc;
        font-size: 1pc;
    }
    p.under_text , a.under_text {
        margin: auto 1pc;
        font-size: 1pc;
    }
}

//Mobile
@media only screen and (max-width: 600px) {
    .intro{
        padding-top: 0pc;
        text-align: left;
        .intro_head{
            justify-content: space-between;
            padding: 1pc 0.5pc;
            grid-gap: 5pc;
        }
        .title {
            padding-top: 0.5pc;
            padding-bottom: 0.5pc;
            margin: auto 0pc;
            font-size: 2pc;
        }
        .logo_img {
            float: left;
            display: none;
            width: 4.5pc;
        }
        .personal_img {
            float: right;
            width: 3pc;
        }
    }
    h2.under_text {
        margin: auto 0pc;
        font-size: 1pc;
    }
    p.under_text , a.under_text {
        margin: auto 0pc;
        font-size: 0.5pc;
    }
}