@import "../../color-themes";

.intro_wrapper {
    padding: 1pc;

    .intro {
        position: relative;

        .intro_head{
            display: table;

            .logo_img, .personal_img {
                float: left;
                margin: auto;
                vertical-align: middle;
                border-radius: 50%;
                @include all_transition_durations;
            }

            h1{
                float: left;
            }
        }

        h1, h2, p, a {
            padding: 0.5pc;
            @include themed('color', 'text');
            @include all_transition_durations;
        }
    }
}

//Desktop
@media only screen and (min-width: 600px) {
    .intro{
        padding-top: 3pc;
        text-align: center;
        .intro_head{
            margin: auto;
        }
        .logo_img {
            float: left;
            display: block;
            width: 4.5pc;
        }
        .personal_img {
            float: left;
            width: 2pc;
            background-color: white;
        }
    }
    .title, h2, p, a {
        margin: auto 1pc;
    }
    .title {
        font-size: 3pc;
    }
    h2 {
        font-size: 2pc;
    }
    p, a {
        font-size: 1pc;
    }
}

//Mobile
@media only screen and (max-width: 600px) {
    .intro{
        padding-top: 1pc;
        text-align: left;
        .logo_img {
            float: left;
            display: none;
            width: 4.5pc;
        }
        .personal_img {
            float: right;
            width: 3pc;
        }
    }
    .title, h2, p, a {
        margin: auto 0pc;
    }
    .title {
        font-size: 3pc;
    }
    h2 {
        font-size: 1pc;
    }
    p, a {
        font-size: 0.5pc;
    }
}