@import "../../color-themes";

.search {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 1pc;
    z-index: 15;

    .search_img {
        width: 3pc;
        border-radius: 0.7pc 0pc 0pc 0.7pc;
        @include all_transition_durations;
        @include themed('background-color', 'inputfield');
    }

    .search_input {
        padding: 0.5pc;
        border: 0pc;
        width: 27pc;
        height: 2pc;
        @include all_transition_durations;
        @include themed('color', 'inputtext');
        @include themed('background-color', 'inputfield');
    }

    .filter_img {
        width: 3pc;
        cursor: pointer;
        border-radius: 0pc 0.7pc 0.7pc 0pc;
        @include all_transition_durations;
        @include themed('background-color', 'card');
        &:hover{
            filter: invert(100%);
            -webkit-filter: invert(100%);
        }
    }
}