@import "../../color-themes";

.userdrop {
    position: absolute;
    border: 0pc;
    border-radius: 0.3pc;
    z-index: 20;
    @include themed('background-color', 'card');

    .menu_item {
        display: block;
        text-decoration: none;
        @include themed('color', 'text');
        @include all_transition_durations;
        &:hover{
            @include themed('background-color', 'inputfield');
        }
    }

    .main_menu_item {
        cursor: pointer;
        margin: 0pc;
        padding: 1pc;
        text-align: center;
        border-radius: 0pc 0pc 0.3pc 0.3pc;
        font-weight: bold;
        @include themed('color', 'alttext');
        @include themed('background-color', 'accent');
        @include all_transition_durations;
        &:hover{
            @include themed('background-color', 'accentplus');
        }
    }
}

//Desktop
@media only screen and (min-width: 600px) {
    .userdrop {
        top: 7pc;
        transform: translateX(106%);
        .menu_item {
            margin: 0pc;
            padding: 1.5pc;
            padding-right: 2pc;
            padding-left: 2pc;
            font-size: 1pc;
        }
        .main_menu_item {
            margin: 0pc;
            padding: 1pc;
        }
    }
}

//Mobile
@media only screen and (max-width: 600px) {
    .userdrop {
        top: 5pc;
        right: 0pc;
    }
    .menu_item {
        grid-gap: 1pc;
        margin: 0pc;
        padding: 1.5pc;
        padding-right: 2pc;
        padding-left: 2pc;
        font-size: 0.8pc;
    }
    .main_menu_item {
        margin: 0pc;
        padding: 1.5pc;
        padding-right: 2pc;
        padding-left: 2pc;
        font-size: 0.8pc;
    }
}